<p><strong>Absent List</strong></p>

<table class="cool-table">
  
    <thead>
      <tr>
        <th>Name</th>
        <th>Lastname</th>
        <th>Tele</th>
        <th>Group</th>
        <th>Filliere</th>
        <th>Filliere</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let e of etudiants">
        <tr *ngIf="e.isPresent===true">
          <td>{{ e.fname }}</td>
          <td>{{ e.lname }}</td>
          <td>{{ e.tele }}</td>
          <td>{{ e.classId }}</td>
          <td>{{ e.filliere}}</td>
          <td><button (click)="markpresent(e)">Present</button></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  
  <div class="cool-field">
    <label for="matiere"> Le Nom du cours:</label>
    <input [(ngModel)]="matiere" type="text" id="matiere" name="matiere" placeholder="Entrer le nom du cours">
    <label for="date">Date</label>
    <input [(ngModel)]="date" type="date" id="date" name="date" placeholder="Entrer l'heure">
    <br>
    <label for="hour">L'heure:</label>
    <input [(ngModel)]="hour" type="text" id="hour" name="hour" placeholder="Entrer l'heure">
    <br>
    
    <!-- <button class="finish-button" (click)="finish(etudiant,matiere,date,hour)">Finish</button> -->
</div>
