<!-- In your template (e.g., student-management.component.html) 
<div class="container mt-3">
    <input type="number" placeholder="Enter ID to Search" [(ngModel)]="searchid" class="form-control" />
    <button (click)="searchById(searchid)" class="btn btn-primary ml-2">Search</button>
  </div>
  <br>
<form id="professorForm" class="professor-form mt-3">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required [(ngModel)]="professor.username" class="form-control">
        </div>
  
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required [(ngModel)]="professor.password" class="form-control">
        </div>
  
        <div class="form-group">
          <label for="role">Role:</label>
          <input type="text" id="role" name="role" required [(ngModel)]="professor.role" class="form-control">
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required [(ngModel)]="professor.name" class="form-control">
        </div>
  
        <div class="form-group">
          <label for="lastname">Lastname:</label>
          <input type="text" id="lastname" name="lastname" required [(ngModel)]="professor.lastname" class="form-control">
        </div>
  
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="tel" id="phone" name="phone" required [(ngModel)]="professor.phone" class="form-control">
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <label for="group">Group:</label>
      <input type="text" id="group" name="group" required [(ngModel)]="professor.group" class="form-control">
    </div>
  
    <div class="form-group">
      <label for="fillier">Fillier:</label>
      <input type="text" id="fillier" name="fillier" required [(ngModel)]="professor.fillier" class="form-control">
    </div>
  
    
    <button type="button" (click)="createprof(professor)" class="btn btn-success mt-3">Create</button>
    
    <button type="button" (click)="deleteprof(professor)" class="btn btn-success mt-3">Delete</button>
    
    <button type="button" (click)="updateprof(professor)" class="btn btn-success mt-3">Update</button>

    <button type="button" (click)="clear()" class="btn btn-success mt-3">clear</button>
  </form>
  -->